# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.so
*.sh
*.exe

#*.ipynb
.ipynb_checkpoints/

#testing folder
./PhoeniX/testing/output/

*.pt
*.h5
*.safetensors

# Distribution / packaging
.Python
venv
.venv
.vscode
.idea
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
